<?xml version="1.0" encoding="UTF-8"?>
<plugin
    id="cordova-plugin-app-icon-changer"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>App Icon Changer</name>
  <description>Change the homescreen icon of your app dynamically</description>
  <license>MIT</license>

  <!-- JavaScript bridge -->
  <js-module src="www/AppIconChanger.js" name="AppIconChanger">
    <clobbers target="AppIconChanger"/>
  </js-module>

  <!-- ================= iOS ================= -->
  <platform name="ios">

    <!-- Register plugin -->
    <config-file parent="/*" target="*-Info.plist">
      <feature name="AppIconChanger">
        <param name="ios-package" value="AppIconChanger"/>
      </feature>
    </config-file>

    <!-- Native code -->
    <header-file src="src/ios/AppIconChanger.h"/>
    <source-file src="src/ios/AppIconChanger.m"/>

    <!-- Copy icon files to app bundle -->

    <!-- Light -->
    <resource-file src="src/ios/icons/light-60.png" target="Resources/light-60.png"/>
    <resource-file src="src/ios/icons/light-60@2x.png" target="Resources/light-60@2x.png"/>
    <resource-file src="src/ios/icons/light-60@3x.png" target="Resources/light-60@3x.png"/>

    <!-- Dark -->
    <resource-file src="src/ios/icons/dark-60.png" target="Resources/dark-60.png"/>
    <resource-file src="src/ios/icons/dark-60@2x.png" target="Resources/dark-60@2x.png"/>
    <resource-file src="src/ios/icons/dark-60@3x.png" target="Resources/dark-60@3x.png"/>

    <!-- Private -->
    <resource-file src="src/ios/icons/private-60.png" target="Resources/private-60.png"/>
    <resource-file src="src/ios/icons/private-60@2x.png" target="Resources/private-60@2x.png"/>
    <resource-file src="src/ios/icons/private-60@3x.png" target="Resources/private-60@3x.png"/>

    <!-- Inject alternate icons into Info.plist -->
    <edit-config file="*-Info.plist" target="CFBundleIcons" mode="merge">
      <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>

          <key>light</key>
          <dict>
            <key>CFBundleIconFiles</key>
            <array>
              <string>light-60</string>
            </array>
          </dict>

          <key>dark</key>
          <dict>
            <key>CFBundleIconFiles</key>
            <array>
              <string>dark-60</string>
            </array>
          </dict>

          <key>private</key>
          <dict>
            <key>CFBundleIconFiles</key>
            <array>
              <string>private-60</string>
            </array>
          </dict>

        </dict>
      </dict>
    </edit-config>

  </platform>

</plugin>
