<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="cordova-plugin-app-icon-changer"
   version="1.0.0"
   xmlns="http://apache.org/cordova/ns/plugins/1.0">

<name>App Icon Changer</name>

<js-module src="www/AppIconChanger.js" name="AppIconChanger">
<clobbers target="AppIconChanger"/>
</js-module>

<platform name="ios">

<header-file src="src/ios/AppIconChanger.h" />
<source-file src="src/ios/AppIconChanger.m" />

<!-- LIGHT -->
<resource-file src="src/ios/icons/light.png" target="Resources/light.png"/>
<resource-file src="src/ios/icons/light@2x.png" target="Resources/light@2x.png"/>
<resource-file src="src/ios/icons/light@3x.png" target="Resources/light@3x.png"/>

<!-- DARK -->
<resource-file src="src/ios/icons/dark.png" target="Resources/dark.png"/>
<resource-file src="src/ios/icons/dark@2x.png" target="Resources/dark@2x.png"/>
<resource-file src="src/ios/icons/dark@3x.png" target="Resources/dark@3x.png"/>

<!-- PRIVATE -->
<resource-file src="src/ios/icons/private.png" target="Resources/private.png"/>
<resource-file src="src/ios/icons/private@2x.png" target="Resources/private@2x.png"/>
<resource-file src="src/ios/icons/private@3x.png" target="Resources/private@3x.png"/>

<config-file target="*-Info.plist" parent="CFBundleIcons">

<dict>

<key>CFBundleAlternateIcons</key>

<dict>

<key>light</key>
<dict>
<key>CFBundleIconFiles</key>
<array>
<string>light</string>
</array>
<key>UIPrerenderedIcon</key>
<false/>
</dict>

<key>dark</key>
<dict>
<key>CFBundleIconFiles</key>
<array>
<string>dark</string>
</array>
<key>UIPrerenderedIcon</key>
<false/>
</dict>

<key>private</key>
<dict>
<key>CFBundleIconFiles</key>
<array>
<string>private</string>
</array>
<key>UIPrerenderedIcon</key>
<false/>
</dict>

</dict>

</dict>

</config-file>

</platform>

</plugin>
